body {
  font-size:12px;
  /*line-height:1.7;*/
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  /*font-family: Verdana, "Bitstream Vera Sans", sans-serif;*/
  /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/

  /*font-family: "Egyptienne F LT Std", "Egyptienne F Std", "Egyptienne F", Cambria, Georgia, serif;*/
  color: #8D8D8D;
  background-color: #696969;
  background-image:url('/images/bg.jpg');
}
/* Structure
 * --------------------------------------------------------------------- */
.container {
  width: 710px;
  margin-top: 150px;
  background-color: #fff;
  border-top: 10px solid #000;
}
#toggle {
  margin:0;
  text-align:right;
}
span.more {
  font-family: "Times New Roman",Times,Arial,serif;
  font-size:2em;
  color:#fff;
  cursor: pointer;
  padding:0 18px;
  line-height:60%;
  background-color: #000;
}
span.more:hover { color: #bababa; }
/* eww, ugly hack :D */
p.headroom {margin: 100px 0 0 0;}
p.moreroom {margin: 50px 0 0 0;}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #FC0F3E; }
#content h1 {
  font-family: "Egyptienne F LT Std", "Egyptienne F Std", "Egyptienne F", Cambria, Georgia, serif;
  font-size: 2.6em;
  /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
  letter-spacing:-0.05em;
}
h1.elsewhere { margin: 15px 0; }

/* Text Elements
 * --------------------------------------------------------------------- */
a {
  color: #3C3C3C;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #FC0F3E;
  font-weight: bold;
  text-decoration: none;
}
blockquote        { color: #666; }
pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #d9dada; }
.alt    { color: #666; }

#header p.title {
  color: #696969;
  font-family:Diavlo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing:-0.05em;
  word-spacing: 0.15em;
  font-size: 3.1em;
  margin: 40px 0 0 0;
  line-height:0.8em;
}
#header p.tagline {
  color: #bababa;
  font-family: Baskerville, Palatino, 'Palatino Linotype', Georgia, serif;
  letter-spacing:-0.05em;
  word-spacing: -0.03em;
  line-height:1em;
  font-size: 1.8em;
  font-style: italic;
  margin-bottom: 0.75em;
}
#avatar {
  font-size: 90%;
  color: #696969;
}
.me img {
  /*margin-top: 5px;*/
  border: 4px solid #ddd;
}
#footer, #footer a {
  color: #d9dada;
  font-size: 10px;
}
#about p {
  font-size: 12px;
  margin-bottom: 1em;
}
#elsewhere {
  margin: 10px 0 20px 0;
  font-size: 11px;
}
#elsewhere .span-3 {width:85px;}
#elsewhere .last {margin-bottom: 15px;}
#elsewhere li { list-style:none; }
span.amp { font-family: Baskerville, Palatino, 'Palatino Linotype', Georgia, serif; }

/* Icons
 * --------------------------------------------------------------------- */
span.lifestream, span.twitter, span.flickr, span.delicious, span.facebook, span.lastfm, span.vimeo, span.tumblr, span.dopplr, span.youtube {
  background-repeat: no-repeat;
  padding: 0 0 10px 20px;
  display: block;
}
span.lifestream { background-image:url('/images/feed.png'); }
span.twitter    { background-image:url('/images/twitter.png'); }
span.flickr     { background-image:url('/images/flickr.png'); }
span.delicious  { background-image:url('/images/delicious.png'); }
span.facebook   { background-image:url('/images/facebook.png'); }
span.lastfm     { background-image:url('/images/lastfm.png'); }
span.vimeo      { background-image:url('/images/vimeo.png'); }
span.tumblr     { background-image:url('/images/tumblr.png'); }
span.dopplr     { background-image:url('/images/dopplr.png'); }
span.youtube    { background-image:url('/images/youtube.png'); }

/*
span.email, span.skype, span.card, span.key {
  background-repeat: no-repeat;
  padding: 4px 0 10px 40px;
  display: block;
}
span.email      { background-image:url('/images/email.png'); }
span.skype      { background-image:url('/images/chat.png'); }
span.card       { background-image:url('/images/contact_32.png'); }
span.key        { background-image:url('/images/lock.png'); }
*/

/* EOF */
