
body {
  font-size:0.9em;
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  background-color: #696969;
}
/* Structure
 * --------------------------------------------------------------------- */
.container {
  width: 710px;
  margin-top: 150px;
  background-color: #fff;
  border-top: 10px solid #000;
}
#show {
}
#toggle {
  margin:0;
  text-align:right;
}
span.more {
  font-family: "Times New Roman",Times,Arial,serif;
  font-size:2em;
  color:#fff;
  cursor: pointer;
  padding:0 18px;
  line-height:60%;
  background-color: #000;
}
span.more:hover { color: #bababa; }
/* eww, ugly hack :D */
p.headroom {margin: 100px 0 0 0;}
p.moreroom {margin: 50px 0 0 0;}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: ; }
h2 { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* Text Elements
 * --------------------------------------------------------------------- */
a {
  color: #696969;
  border-bottom: 1px solid #696969;
  text-decoration: none;
}
a:hover {
  color: #FC0F3E;
  border-bottom: 1px solid #FC0F3E;
  text-decoration: none;
}
blockquote        { color: #666; }
pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

#header p.title {
  color: #696969;
  font-family: Fertigo, Diavlo, Fontin, "Fontin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing:-0.05em;
  font-size: 2.8em;
  margin: 40px 0 0 0;
  line-height:0.8em;
}
#header p.tagline {
  color: #bababa;
  font-family: Baskerville, Palatino, 'Palatino Linotype', Georgia, serif;
  letter-spacing:-0.05em;
  word-spacing: -0.05em;
  line-height:1em;
  font-size: 2em;
  font-style: italic;
  margin-bottom: 0.75em;
}

span.email, span.skype { }

/* EOF */
